.header__logo {
  display: block;
  max-width: 142px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__logo {
    margin-left: 94px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    max-width: 103.7px;
    margin-left: 27px;
    margin-bottom: 31.6px;
  }
}